@import "tailwindcss";

:root {
  --off-black: #141414;
  --off-white: #f4f6f8;
  --off-grey: #ebedee;
}
@theme inline {
  --color-off-black: var(--off-black);
  --color-off-white: var(--off-white);
  --color-off-grey: var(--off-grey);
  --font-sans: var(--font-public-sans);
}

@layer base {
  body {
    color: var(--off-black);
  }
  h1 {
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  h2 {
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  h3 {
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  h4 {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  h5 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  button {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
