@import "tailwindcss";

:root {
  --off-black: #141414;
  --off-white: #f4f6f8;
  --off-grey: #ebedee;
}
@theme inline {
  --color-off-black: var(--off-black);
  --color-off-white: var(--off-white);
  --color-off-grey: var(--off-grey);
  --font-sans: var(--font-public-sans);
  --breakpoint-phone: 390px;
}

@layer base {
  body {
    color: var(--off-black);
  }
  h1 {
    @apply text-[80px] font-normal;
  }
  h2 {
    @apply text-[52px] font-normal;
  }
  h3 {
    @apply text-[38px] font-normal;
  }
  h4 {
    @apply text-[24px] font-normal;
  }
  h5 {
    @apply text-[16px] font-normal;
  }
  p {
    @apply text-[20px] font-normal;
  }
  button {
    @apply text-[16px] font-medium;

  }
}

@layer utilities{
  .flex-center {
    @apply flex justify-center items-center
  }
  .flex-center-col{
    @apply felx flex-col justify-center items-center
  }
}
