@import "tailwindcss";

:root {
  --off-black: #141414;
  --off-white: #f4f6f8;
  --off-grey: #ebedee;
}
@theme inline {
  --color-off-black: var(--off-black);
  --color-off-white: var(--off-white);
  --color-off-grey: var(--off-grey);
  --font-sans: var(--font-public-sans);
  --breakpoint-phone: 390px;
}

@layer base {
  body {
    color: var(--off-black);
  }
  h1 {
    @apply font-normal text-[80px];
  }
  h2 {
    @apply font-normal text-[52px];
  }
  h3 {
    @apply font-normal text-[38px];
  }
  h4 {
    @apply font-normal text-[24px];
  }
  h5 {
    @apply font-normal text-[16px];
  }
  p {
    @apply font-normal text-[20px];
  }
  button {
    @apply font-medium text-[16px];
  }
}
/* 
@layer utilities{
  .flex-center {
    @apply flex justify-center items-center
  }
  .flex-center-col{
    @apply felx flex-col justify-center items-center
  }
} */

@utility flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@utility flex-center-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@utility hero-bg {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.25) 0%,
      rgba(0, 0, 0, 0.30) 100%
    ),
    url("@/public/hero.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
